// Breakpoints
$layout-breakpoint-xlarge: 1080px;
$layout-breakpoint-large: 960px;
$layout-breakpoint-medium: 720px;
$layout-breakpoint-small: 480px;
$layout-breakpoint-xsmall: 0px;

// Colors
$background: #f0eff1;
$white: #fff;
$black: #24242a;
$banner-bg-color: #be2580;

// Fonts
$font-xl: 45px;
$font-lg: 32px;
$font-md: 20px;
$font-sm: 17px;
$font-xs: 14px;

// Font Family
$font-mono: ui-monospace, Menlo, Monaco, "Segoe UI Mono",
  "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
$font-robo: "Poppins", sans-serif;