@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font-size: 1em;
    height: 100vh;
    padding: 0 5rem;

    svg {
        width: 100%;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .btn {
        z-index: 1;
        overflow: hidden;
        background: transparent;
        position: relative;
        padding: 10px 50px;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 2px;
        transition: 0.2s ease;
        font-weight: 600;
        margin: 5px 0px;

        &.black {
            border: 1px solid black;
            color: black;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 0%;
                height: 100%;
                background: black;
                z-index: -1;
                transition: 0.2s ease;
            }

            &:hover {
                color: white;
                background: black;
                transition: 0.2s ease;

                &:before {
                    width: 100%;
                }
            }
        }
    }

}


@media screen and (max-width:768px) {
    // body {
    //     display: block;
    // }

    // .container {
    //     margin-top: 70px;
    //     margin-bottom: 70px;
    // }
}