.address {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        @include media(">=LGdesktop") {
            font-size: 48px;
        }
    }

    .address-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 1px 10px 0px rgba(229, 219, 219, 0.48);
        padding: 6px 15px;
        border-radius: 4px;
        border: 1px solid #f0f0f0;
        font-size: 15px;

        @include media("<=tablet") {
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }


        @include media(">=LGdesktop") {
            font-size: 32px;
        }

        .address-icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .address-icon {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;

                @include media(">=LGdesktop") {
                    width: 3rem;
                    height: 3rem;
                }

                &:hover {
                    background-color: #f1f1f1;
                    transition: all .5s ease-in-out;
                }

                img {
                    width: 18px;
                    height: 18px;

                    @include media(">=LGdesktop") {
                        width: 36px;
                        height: 36px;
                    }
                }
            }

        }
    }
}