.authentication {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px 10rem;

    @include media("<=414px") {
        padding: 0 14px;
    }

    @include media(">414px", "<tablet") {
        padding: 0 14px;
    }

    @include media(">=tablet", "<desktop") {
        padding: 0 2rem;
    }


    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin-top: 30px;
        width: 34%;

        @include media("<=414px") {
            width: 100%;
            margin: 15px 0 40px 0;
        }


        @include media(">414px", "<tablet") {
            width: 100%;
            margin: 15px 0 40px 0;
        }

        @include media(">=tablet", "<1024px") {
            margin-top: 15px;
            width: 100%;
        }

        @include media(">=1024px", "<desktop") {
            width: 40%;
            margin-top: 15px;
        }

        @include media(">=LGdesktop") {
            width: 40%;
            margin-top: 15px;
            gap: 45px;
        }

        .auth-logo {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            @include media("<=414px") {
                // left: 5rem;
                top: 20px;
            }

            @include media(">=tablet", "<desktop") {
                // left: 2rem;
            }

            img {
                width: 20px;
                height: 20px;

                @include media("<=414px") {
                    width: 20px;
                }

                @include media(">=LGdesktop") {
                    width: 20px;
                }
            }
        }

        h1 {
            font-size: 40px;
            margin: 0;
            text-align: center;

            @include media("<=414px") {
                font-size: 30px;
            }

            @include media(">=LGdesktop") {
                font-size: 85px;
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            gap: 10px;

            @include media(">=LGdesktop") {
                gap: 30px;
            }

            .signup-option {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 6px;
                border: 1px solid gray;
                padding: 10px;
                text-align: center;
                font-size: 17px;
                font-weight: 500;
                border-radius: 8px;
                cursor: pointer;
                width: 100%;

                @include media(">=LGdesktop") {
                    font-size: 35px;
                    gap: 20px;
                    padding: 30px;
                }

                &:hover {
                    background-color: #f3f3f145;
                    transition: background-color ease-in-out .5s;
                }

                .option-icon {
                    width: 1.2rem;

                    @include media(">=LGdesktop") {
                        width: 2.5rem;
                    }
                }
            }
        }


        .or {
            display: flex;
            justify-content: center;
            border-bottom: 1px solid gray;
            position: relative;
            margin-top: 20px;

            div {
                position: absolute;
                top: -13px;
                background-color: white;
                padding: 0px 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-weight: 600;
                color: #4e4e4e;

                @include media(">=LGdesktop") {
                    font-size: 35px;
                    top: -27px;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @include media(">=LGdesktop") {
                gap: 2rem;
            }

            input {
                width: 100%;
                outline: none;
                padding: 20px 10px;
                border-radius: 8px;
                border: 1px solid #fcfcfc;
                background-color: #fcfcfc;
                font-size: 15px;

                &:focus {
                    border: 1px solid black;
                    transition: border .5s ease;
                }

                @include media(">=LGdesktop") {
                    padding: 50px 30px;
                    font-size: 35px;
                }
            }

            .form-card {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;

                @include media("<=414px") {
                    width: initial;
                    flex-direction: column;
                }

                .text-input {
                    display: flex;

                    @include media(">=tablet", "<desktop") {
                        width: 100%;
                    }
                }
            }

            .email-input {
                display: flex;
                flex-direction: row;
            }

            .password-input {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #fcfcfc;
                border: 1px solid #fcfcfc;
                border-radius: 8px;
                padding: 0px 10px;

                input {
                    border: none;
                    width: 100%;
                }

                .password-icon {
                    width: 1.5rem;
                    height: 1.5rem;

                    @include media(">=LGdesktop") {
                        width: 3rem;
                        height: 3rem;
                    }
                }


                &.active {
                    border: 1px solid black;
                    transition: border .5s ease;
                }
            }


            .checkbox-input {
                display: flex;
                flex-direction: row;
                gap: 6px;
                font-size: 14px;

                @include media(">=LGdesktop") {
                    font-size: 2rem;
                    gap: 15px;
                }

                input {
                    width: initial;

                    @include media(">=LGdesktop") {
                        width: 2.5rem;
                        height: 2.5rem;
                    }
                }
            }

            button {
                background-color: black;
                color: white;
                font-size: 17px;
                font-weight: 600;
                border-radius: 8px;
                margin-top: 20px;
                border: 1px solid black;

                @include media(">=LGdesktop") {
                    font-size: 40px;
                }

                &:hover {
                    background-color: white;
                    color: black;
                    transition: all .5s ease-in-out;
                }
            }

        }

        .login-portal {
            align-self: center;
            font-size: 15px;

            @include media(">=LGdesktop") {
                font-size: 2rem;
            }

            a {
                font-weight: bold;
            }
        }
    }

    .login-image {
        position: relative;
        margin-top: 30px;

        @include media("<=414px") {
            display: none;
        }


        @include media(">414px", "<tablet") {
            display: none;
        }

        @include media(">=tablet", "<1024px") {
            display: none;
        }

        @include media(">=1024px", "<desktop") {
            margin-top: 40px;
        }

        .image-up {
            position: absolute;
            left: 400px;
            width: 350px;

            @include media(">=1024px", "<desktop") {
                width: 250px;
                left: 320px;
            }

            @include media(">=LGdesktop") {
                width: 700px;
                left: 620px;
            }
        }

        .image-down {
            position: absolute;
            top: 180px;
            left: 200px;
            width: 350px;

            @include media(">=1024px", "<desktop") {
                width: 300px;
                left: 70px;
            }

            @include media(">=LGdesktop") {
                width: 700px;
            }
        }
    }
}

.password-container {
    display: flex;
    flex-direction: column;
    gap: 6px;


    a {
        align-self: end;
        font-size: 13px;
        font-weight: 500;
    }
}

.authentication-footer {
    margin-top: 150px;
    font-size: 16px;

    @include media("<=tablet") {
        margin-top: 10px;
    }

    a {
        font-size: 16px;
    }
}