.banner {
  background-color: $banner-bg-color;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 13px;
  text-transform: uppercase;

  @include media(">=1920px") {
    font-size: 20px;
    height: 45px;
  }

  @include media("<=414px") {
    width: 100%;
  }
}