.banner {
  background-color: $banner-bg-color;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-size: 15px;
  text-transform: uppercase;

  @include media("<=phone") {
    width: 100%;
  }
}