.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 20px;

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
      width: 200px;
    }

    .card-img {
      position: relative;

    }


    .card-name {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .card-price {
      color: $banner-bg-color;
      font-size: 13px;
    }
  }

  @include media("<=414px") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .card-wrapper {
      img {
        width: 100%;
      }
    }
  }

  @include media(">=820px", "<=960px") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .card-wrapper {
      img {
        width: 100%;
      }
    }
  }

  @include media(">=desktop") {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .card-wrapper {
      img {
        width: 250px;
      }
    }
  }
}