.cart {
  display: flex;
  flex-direction: row;
  padding: 0 8rem;
  margin-top: 4rem;

  table {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: gray;
      color: white;
    }

    tr:nth-child(even) {
      background-color: lightgray;
    }
  }
}