.cart {
  display: flex;
  flex-direction: row;
  padding: 0 10rem;
  margin-top: 4rem;
  gap: 4rem;

  @include media("<=phone") {
    padding: 0 14px;
    flex-direction: column;
  }

  @include media(">=1024px", "<desktop") {
    flex-direction: row;
    gap: 2rem;
  }

  @include media("<=1280px", "<desktop") {
    justify-content: center;
  }

  .table {
    @include media("<=phone") {
      overflow-x: auto;
    }

    @include media(">=1024px", "<desktop") {
      overflow-x: visible;
    }

    table {
      color: #555555;
      border: 1px solid #e6e3e3;
      height: fit-content;
      border-collapse: collapse;
      border-spacing: 0;
      width: fit-content;

      @include media(">=phone", "<desktop") {
        width: fit-content;
      }

      th {
        padding: 24px;
        text-align: left;
        border-bottom: 1px solid #e6e3e3;
        font-weight: 600;
        font-size: 14px;
      }

      tr {
        width: 100%;
      }

      td {
        text-align: left;
        padding: 40px 24px;
        text-align: left;
        width: fit-content;

        @include media(">=phone", "<desktop") {
          width: 100%;
        }


        &:first-child {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 20px;
        }

        .cart-img {
          position: relative;
          width: 80px;
          height: 80px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 80px;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }

        .cart-name {
          width: max-content;
        }

        .cart-btn {
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          gap: 14px;
          width: max-content;

          .minus,
          .plus {
            width: 29px;
            height: 29px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 1px 14px 0px rgba(209, 203, 203, 0.48);
            cursor: pointer;
            font-weight: 500;
          }

          .minus {
            background: #e0dfdf;
          }
        }
      }
    }
  }

  .cart-right-container {
    width: 350px;

    @include media(">=phone", "<desktop") {
      width: 100%;
    }

    @include media("<=1280px", "<desktop") {
      width: 400px;
    }

    @include media("<=tablet") {
      width: 100%;
    }

    @include media("<=820px") {
      width: 100%;
    }

    .cart-right {
      border: 1px solid #e6e3e3;
      // width: 300px;
      height: fit-content;
      padding: 18px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include media(">=phone", "<desktop") {
        margin-bottom: 80px;
      }

      @include media(">=1024px", "<desktop") {
        // width: 100%;
      }

      .cart-total {
        font-weight: 600;
        font-size: 16px;
        color: #555555;
      }

      .sub-total,
      .delivery,
      .discount,
      .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 600;
        font-size: 14px;
        color: #555555;
        text-transform: uppercase;
        border-bottom: 1px dashed #e6e3e3;
        padding-bottom: 5px;

        span {
          font-weight: 600;
          font-size: 16px;
        }
      }

      .checkout-btn {
        background: $banner-bg-color;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 10px;
      }
    }
  }
}


@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}