.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 20px;
  //   height: 100vh;

  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 270px;
    }

    .card-name {
      font-weight: 600;
      text-transform: uppercase;
    }

    .card-price {
      color: $banner-bg-color;
    }
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    .card-wrapper {
      img {
        width: 100%;
      }
    }
  }
}
