.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8rem;
  margin-top: 4rem;


  table {
    color: #555555;
    border-collapse: collapse;
    border: 1px solid #a7a5a5;
    overflow: auto;

    th {
      padding: 24px;
      text-align: left;
      border-bottom: 1px solid #a7a5a5;
      font-weight: 600;
      font-size: 14px;
    }

    tr {
      width: 100%;
      border: 1px solid #a7a5a5;
    }

    td {
      text-align: left;
      padding: 40px 24px;
      text-align: left;
      width: fit-content;


      &:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }

      .cart-img {
        position: relative;
        width: 80px;
        height: 80px;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 80px;
          height: 80px;
          object-fit: cover;
          transition: transform 0.3s ease;
        }

        .overlay {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba(56, 56, 56, 0.5);
          opacity: 0;
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 1;

            .animated-icon {
              animation: slideIn 0.5s forwards;
              animation-delay: 0.2s;
            }
          }

          .animated-icon {
            opacity: 0;
            color: #fff;
            // color: #000;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            animation-duration: 0.5s;
            animation-timing-function: ease;
          }
        }
      }


      .cart-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        width: max-content;

        .minus,
        .plus {
          width: 29px;
          height: 29px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 1px 14px 0px rgba(209, 203, 203, 0.48);
          cursor: pointer;
          font-weight: 500;
        }

        .minus {
          background: #e0dfdf;
        }
      }
    }
  }

  .cart-right {
    flex: 2;
  }
}

.image-container {
  position: relative;
  width: 300px;
  height: 300px;
  // padding-bottom: 60%;
  /* Set the padding-bottom to the aspect ratio of your image */
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;

      .animated-text {
        animation: slideIn 0.5s forwards;
      }

      .animated-button {
        animation: slideIn 0.5s forwards;
        animation-delay: 0.2s;
      }
    }

    .animated-text {
      opacity: 0;
      font-size: 1.5rem;
      color: #fff;
      animation-duration: 0.5s;
      animation-timing-function: ease;
    }

    .animated-button {
      opacity: 0;
      background-color: #fff;
      color: #000;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      animation-duration: 0.5s;
      animation-timing-function: ease;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}