.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10rem;
    margin-top: 4rem;
    gap: 10rem;

    @include media("<=phone") {
        padding: 0 14px;
        flex-direction: column;
    }


    .checkout-container {
        display: flex;
        flex-direction: column;
        width: 40%;

        @include media("<=phone") {
            width: 100%;
        }

        .billing {
            font-weight: 600;
            font-size: 20px;
            color: #1c1c1c;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 24px;

            @include media("<=phone") {
                width: 330px;
            }


            input {
                padding: 12px 10px;
                width: 100%;
                outline: none;
                border: 1px solid #e6e3e3;
                margin-top: 8px;
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 4rem;
                width: 100%;

                .info-input {
                    width: 100%;
                }
            }
        }


    }

    .input-container {
        font-weight: 600;
        font-size: 13px;
        color: #1c1c1c;
        text-transform: uppercase;

        span {
            color: red;
        }
    }

    .order-info {
        width: 350px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include media("<=phone") {
            padding: 0;
        }

        .your-order {
            padding: 12px;
            font-weight: 700;
            font-size: 18px;
            color: #1c1c1c;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);
        }

        .order-container {
            padding: 18px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);

            .sub-total,
            .delivery,
            .discount,
            .total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: 600;
                font-size: 14px;
                color: #555555;
                text-transform: uppercase;
                padding-bottom: 5px;

                span {
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .sub-total,
            .delivery,
            .discount {
                border-bottom: 1px dashed #e6e3e3;
            }
        }

        .payment-header {
            font-weight: 700;
            font-size: 18px;
            color: #1c1c1c;
            margin-bottom: 20px;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);
            padding: 12px;
        }

        .checkout-btn {
            background: $banner-bg-color;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px;
        }
    }
}