.checkout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10rem;
    margin-top: 4rem;
    gap: 10rem;

    @include media("<=414px") {
        padding: 0 14px;
        flex-direction: column;
    }

    @include media(">414px", "<tablet") {
        padding: 0 14px;
        flex-direction: column;
    }

    @include media(">=tablet", "<desktop") {
        padding: 0 14px;
    }

    @include media(">=LGdesktop") {
        justify-content: space-between;
    }


    .checkout-container {
        display: flex;
        flex-direction: column;
        width: 40%;

        @include media("<=414px") {
            width: 100%;
        }

        @include media(">414px",
            "<tablet") {
            width: 100%;
        }

        @include media(">=tablet",
            "<desktop") {
            width: 100%;
        }

        .billing {
            font-weight: 600;
            font-size: 20px;
            color: #1c1c1c;

            @include media(">=LGdesktop") {
                font-size: 35px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 24px;

            @include media("<=414px") {
                width: 100%;
            }

            input {
                width: 100%;
                outline: none;
                padding: 20px 10px;
                border-radius: 8px;
                border: 1px solid #fcfcfc;
                background-color: #fcfcfc;
                font-size: 15px;
                margin-top: 10px;

                &:focus {
                    border: 1px solid black;
                    transition: border .5s ease;
                }

                @include media("<=414px") {
                    width: 92%;
                }

                @include media(">414px",
                    "<tablet") {
                    width: 95%;
                }

                @include media(">=LGdesktop") {
                    padding: 25px 15px;
                    font-size: 35px;
                }
            }

            .info {
                display: flex;
                flex-direction: row;
                gap: 4rem;
                width: 100%;

                @include media("<=414px") {
                    width: 92%;
                    gap: 2rem;
                    flex-direction: column;
                }

                @include media(">414px",
                    "<tablet") {
                    width: 95%;
                    gap: 2rem;
                    // flex-direction: column;
                }

                .info-input {
                    width: 100%;

                    @include media("<=414px") {
                        width: 100%;
                    }
                }
            }
        }


    }

    .input-container {
        font-weight: 600;
        font-size: 13px;
        color: #1c1c1c;
        text-transform: uppercase;

        @include media(">=LGdesktop") {
            font-size: 30px;
        }

        span {
            color: red;
        }
    }

    .order-info {
        width: 30%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include media("<=414px") {
            padding: 0;
            width: 100%;
        }

        @include media(">414px",
            "<tablet") {
            padding: 0;
            width: 100%;
        }

        @include media(">=tablet",
            "<desktop") {
            padding: 0;
            width: 100%;
        }

        @include media(">=LGdesktop") {
            width: 40%;
        }

        .your-order {
            padding: 12px;
            font-weight: 700;
            font-size: 18px;
            color: #1c1c1c;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);

            @include media(">=LGdesktop") {
                font-size: 35px;
            }
        }

        .order-container {
            padding: 18px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);

            .sub-total,
            .delivery,
            .discount,
            .total {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: 600;
                font-size: 14px;
                color: #555555;
                text-transform: uppercase;
                padding-bottom: 5px;

                @include media(">=LGdesktop") {
                    font-size: 27px;
                }

                span {
                    font-weight: 600;
                    font-size: 16px;

                    @include media(">=LGdesktop") {
                        font-size: 29px;
                    }
                }
            }

            .sub-total,
            .delivery,
            .discount {
                border-bottom: 1px dashed #e6e3e3;
            }
        }

        .payment-header {
            font-weight: 700;
            font-size: 18px;
            color: #1c1c1c;
            margin-bottom: 20px;
            box-shadow: 0px 1px 6px 0px rgba(209, 203, 203, 0.48);
            padding: 12px;

            @include media(">=LGdesktop") {
                font-size: 35px;
            }
        }

        .checkout-btn {
            background: $banner-bg-color;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px;

            @include media(">=LGdesktop") {
                font-size: 30px;
            }
        }
    }
}