.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0 10rem;
  margin-top: 8rem;
  margin-bottom: 40px;

  @include media("<=414px") {
    padding: 0 14px;
    flex-direction: column;
  }

  @include media(">=tablet",
    "<desktop") {
    padding: 0 14px;
    flex-direction: column;
  }

  .collection-header {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
  }

  .img-collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;

    @include media("<=414px") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(">=tablet",
      "<desktop") {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 270px;

      @include media("<=414px") {
        width: 100%;
      }

      @include media(">=tablet", "<desktop") {
        width: 100%;
      }
    }
  }

}