.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding: 0 10rem;
  margin-top: 8rem;
  margin-bottom: 40px;

  .collection-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex-wrap: wrap;

    .card-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        width: 270px;
        object-fit: contain;
      }

      .card-name {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-transform: uppercase;
      }

      .card-price {
        color: $banner-bg-color;
        font-size: 13px;
      }
    }
  }

  .collection-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .collection-header {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      font-size: $font-lg;
      font-weight: 400;


      span {
        color: $banner-bg-color;
        font-size: 18px;
      }
    }

    .img-collection {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;

      img {
        width: 270px;
      }
    }
  }


}