.edit {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        @include media(">=LGdesktop") {
            font-size: 48px;
        }
    }

    .edit-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .edit-img-container {
            position: relative;

            .view-img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                object-fit: cover;
            }

            .avatar-img {
                width: 64px;
                height: 64px;
            }

            .view-img,
            .avatar-img {
                @include media(">=LGdesktop") {
                    width: 150px;
                    height: 150px;
                }
            }

            label {
                position: absolute;
                bottom: 10px;
                left: 45px;
                background: #ffff;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                @include media(">=LGdesktop") {
                    left: 90px;
                    bottom: 10px;
                    width: 68px;
                    height: 68px;
                }

                img {
                    width: 20px;
                    height: 20px;

                    @include media(">=LGdesktop") {
                        width: 64px;
                        height: 64px;
                    }
                }
            }
        }

    }

    .edit-fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @include media("<=425px") {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
        }

        input {
            width: 95%;
            padding: 20px 10px;
            outline: none;
            border: none;
            background-color: #fcfcfc;
            font-size: 17px;
            border-radius: 8px;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid black;
                transition: border .5s ease;
            }

            @include media(">=LGdesktop") {
                padding: 45px 10px;
                font-size: 34px;
            }
        }

        .password-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 6px;
            background-color: #fcfcfc;
            width: 95%;
            padding: 0px 10px;
            border-radius: 8px;
            border: 1px solid transparent;

            input {
                border: none;
            }

            img {
                width: 25px;
                height: 25px;

                @include media(">=LGdesktop") {
                    width: 45px;
                    height: 45px;
                }
            }

            &.active {
                border: 1px solid black;
                transition: border .5s ease;
            }
        }
    }

    button {
        background-color: black;
        color: white;
        align-self: end;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid black;

        &:hover {
            background-color: #fcfcfc;
            color: black;
            transition: all .5s ease;
        }

        @include media("<=tablet") {
            width: 100%;
            margin: 20px 0;
        }

        @include media(">=LGdesktop") {
            font-size: 30px;
        }
    }
}