footer {
  display: flex;
  flex-direction: column;

  .footer {
    display: flex;

    .footer-left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;

      img {
        width: 105px;

        @media only screen and (min-width: $layout-breakpoint-xsmall) {
          align-self: start;
        }

        @media only screen and (min-width: $layout-breakpoint-small) {
          align-self: center;
        }

        @media only screen and (min-width: $layout-breakpoint-large) {
          align-self: start;
        }
      }

      .footer-about {
        width: 70%;
        line-height: 1.5;

        @media only screen and (min-width: $layout-breakpoint-xsmall) {
          width: 100%;
          text-align: left;
        }

        @media (min-width: $layout-breakpoint-large) {
          width: 70%;
        }
      }

      .footer-contact {
        margin: 10px 0;
        font-weight: bold;

        @media only screen and (min-width: $layout-breakpoint-small) {
          .footer-contact {
            text-align: center;
            font-size: 24px;
            margin: 30px 0;
          }
        }
      }
    }

    .footer-right {
      display: flex;
      gap: 4rem;

      .links {
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-size: 17px;

        .footer-header {
          font-size: 20px;
          font-weight: bold;
        }
      }

      @media only screen and (min-width: $layout-breakpoint-xsmall) {
        flex-direction: column;
        gap: 1rem;
      }

      @media only screen and (min-width: $layout-breakpoint-small) {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        .links {
          .footer-header {
            font-size: 30px;
          }

          li {
            font-size: 24px;
          }
        }
      }
      @media only screen and (min-width: $layout-breakpoint-large) {
        .links {
          .footer-header {
            font-size: 20px;
          }

          li {
            font-size: 18px;
          }
        }
      }
    }

    @media only screen and (min-width: $layout-breakpoint-xsmall) {
      padding: 0 14px;
      margin-top: 1rem;
      padding-bottom: 20px;
      flex-direction: column;
    }

    @media only screen and (min-width: $layout-breakpoint-large) {
      flex-direction: row;
      padding: 0 8rem 4rem 8rem;
      margin-top: 10rem;
    }
  }

  .footer-copyright {
    background: #000;
    color: $white;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;

    a {
      color: $white;
    }

    @media only screen and (min-width: $layout-breakpoint-xsmall) {
      flex-wrap: wrap;
    }
  }
}
