$duration: 2s;
$easing: cubic-bezier(0.42, 0, 0.58, 1);

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    padding-top: 40px;
    z-index: 50;

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 55%;
        height: 300px;
        animation: modalFadeIn 0.3s ease-out forwards;

        @include media("<=414px") {
            width: 80%;
            height: 500px;
        }

        @include media(">=LGdesktop") {
            width: 80%;
            height: fit-content;
            padding: 30px;
        }

        @include media(">=tablet", "<=1440px") {
            width: 80%;
        }

        @include media(">=425px", "<tablet") {
            width: 80%;
        }

        .modal-item {
            display: flex;
            flex-direction: column;
            gap: 24px;
            overflow: auto;

            .item-header {
                font-size: 18px;
                font-weight: 600;
                font-family: $font-robo;

                @include media(">=LGdesktop") {
                    font-size: 24px;
                }

                span {
                    font-weight: lighter;
                }
            }

            .item-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                @include media("<=414px") {
                    align-items: start;
                }

                .details-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    @include media("<=414px") {
                        flex-direction: column;
                    }

                    @include media(">=1024px", "<desktop") {
                        flex-direction: row;
                    }

                    .img {
                        width: 100px;
                        flex: 2;
                        border: 1px solid gainsboro;

                        @include media("<=414px") {
                            height: 600px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;

                            @include media("<=414px") {
                                width: 100%;
                                border: 4px solid firebrick;
                            }

                            @include media(">=LGdesktop") {
                                width: 250px;
                            }
                        }
                    }


                    .items-info {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        @include media("<=414px") {
                            // flex: 2;
                        }

                        span:nth-child(1) {
                            font-weight: 400;

                            @include media(">=LGdesktop") {
                                font-size: 24px;
                            }

                            @include media("<=414px") {
                                font-size: 14px;
                            }
                        }

                        span:nth-child(2) {
                            font-weight: 500;

                            @include media(">=LGdesktop") {
                                font-size: 22px;
                            }

                            @include media("<=414px") {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .item-icon {
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                    margin-right: 40px;
                    color: #464646;
                    align-self: center;

                    @include media(">=LGdesktop") {
                        width: 35px;
                        height: 35px;
                    }

                    @include media("<=414px") {
                        margin-right: 0;
                    }

                    @include media(">=tablet", "<=1440px") {
                        align-self: start;
                    }

                    @include media(">=425px", "<tablet") {
                        align-self: start;
                    }
                }
            }
        }

        .total-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: auto;
            border-top: 1px solid #cecece;
            padding-top: 15px;

            @include media("<=414px") {
                flex-direction: column;
            }

            @include media(">=LGdesktop") {
                font-size: 24px;
            }

            @include media(">=425px", "<tablet") {
                flex-direction: column;
                gap: 10px;
            }

            .total {
                span {
                    font-weight: bold;
                }
            }

            .modal-btns {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;

                @include media("<=414px") {
                    margin-top: 20px;
                    flex-direction: column;
                }

                a {
                    width: 100%;

                    button {
                        @include media("<=414px") {
                            width: 100%;
                        }

                        @include media(">=LGdesktop") {
                            font-size: 24px;
                        }
                    }
                }

                button {
                    text-transform: uppercase;
                    font-weight: bold;

                    @include media("<=414px") {
                        width: 100%;
                    }

                    @include media(">=LGdesktop") {
                        font-size: 24px;
                    }
                }

                button:nth-child(1) {
                    border: 1px solid black;
                    color: black;
                }

                button:nth-child(2) {
                    background-color: $banner-bg-color;
                }
            }
        }

        .modal-initial {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            height: 100vh;
            overflow: auto;

            a {
                align-self: center;
            }

            .modal-cart {
                width: 35px;
                height: 35px;
                align-self: center;
            }

            .modal-text {
                align-self: center;
                font-size: 16px;
                font-family: $font-robo;
            }

            .modal-btn {
                background: $banner-bg-color;
                border: none;
                align-self: center;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .modal-close {
            position: absolute;
            top: -55px;
            right: 0;
            outline: none;
            border: none;
            padding: 4px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #919090f8;

            @include media(">=LGdesktop") {
                top: -85px;
                width: 45px;
                height: 45px;
            }

            .modal-icon {
                width: 1rem;
                height: 1rem;
                color: white;

                @include media(">=LGdesktop") {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

    &.isOpen {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.isVisible {
        animation: modalFadeIn 0.3s ease-out forwards;
    }

    &.isHidden {
        animation: modalFadeOut 0.3s ease-out forwards;
    }

    @keyframes modalFadeIn {
        from {
            transform: translateY(0%);
        }

        to {
            transform: translateY(10%);
        }
    }

    @keyframes modalFadeOut {
        from {
            transform: translateY(10%);
        }

        to {
            transform: translateY(0%);
        }
    }
}