nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  z-index: 50;
  background-color: transparent;
  transition: all 0.3s ease;
  height: 80px;

  @include media(">=1920px") {
    height: 100px;

    &.active {
      position: sticky;
      padding: 2rem 10rem;
      height: 80px;
      top: 0;
      left: 0;
      right: 0;
      background: #ffffff;
      box-shadow: 2px 4px 3px 1px rgba(234, 236, 235, 0.5);
    }
  }

  @include media(">tablet", "<desktop") {
    padding: 1rem 4rem;
  }

  @include media("<=425px") {
    height: 30px;

    &.active {
      position: sticky;
      height: 40px;
      top: 0;
      left: 0;
      right: 0;
      background: #ffffff;
      box-shadow: 2px 4px 3px 1px rgba(234, 236, 235, 0.5);
    }
  }

  &.active {
    position: sticky;
    height: 40px;
    top: 0;
    background: #ffffff;
    box-shadow: 2px 4px 3px 1px rgba(234, 236, 235, 0.5);
  }

  &.animate {
    animation: fadeIn 0.5s ease;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    font-size: 14px;

    a {
      font-weight: 400;
      letter-spacing: 1.6px;
      color: #4e4d4d;

    }

    .active-link {
      color: #d70e69;
    }

    @include media(">=1920px") {
      font-size: 30px;
    }
  }

  img {
    width: 110px;
    height: 100%;
    object-fit: contain;

    @include media(">=1920px") {
      height: 200px;
      width: 200px;
    }
  }

  .nav-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .nav-icon {
      width: 24px;
      height: 24px;
      color: #4e4d4d;

      @include media(">=LGdesktop") {
        width: 44px;
        height: 44px;
      }

      @include media("<=414px") {
        width: 27px;
        height: 27px;
      }
    }

    .cart-container {
      position: relative;
      cursor: pointer;
      display: flex;

      @include media("<=phone") {

        img {
          display: block;
        }
      }

      @include media(">phone", "<=tablet") {

        img {
          display: block;
        }
      }

      @include media(">tablet", "<=960px") {

        img {
          display: block;
        }
      }

      div {
        position: absolute;
        top: -6px;
        right: -8px;
        font-size: 10px;
        background-color: $banner-bg-color;
        color: white;
        width: 6px;
        height: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        border-radius: 100%;

        @include media(">=LGdesktop") {
          width: 25px;
          height: 25px;
          padding: 2px;
          font-size: 18px;
          right: -10px;
        }
      }
    }
  }

  @include media("<=phone") {
    padding: 1rem;
    display: flex;
    align-items: center;

    .links {
      display: none;
    }

    img {
      display: none;
    }

    .sidebar-img {
      display: block;
    }

    .sidebar-icon,
    .close {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  @include media(">phone", "<=tablet") {
    padding: 1rem;
    display: flex;
    align-items: center;

    .links {
      display: none;
    }

    img {
      display: none;
    }
  }

  .sidebar-icon {
    @include media("<=tablet") {
      display: block;
      width: 44px;
      height: 44px;
    }
  }

  .sidebar-navbar {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 17px;

    img {
      width: 170px;

      @include media("<=tablet") {
        display: block;
      }
    }

    .sidebar-auth {
      display: flex;
      flex-direction: row;
      justify-items: center;
      gap: 2rem;
      margin-top: 40px;

      .register,
      .login {
        border: 1px solid #4e4d4d;
        padding: 5px 10px;
        text-align: center;
        width: 100px;
      }

      .register {
        &:hover {
          background-color: black;
          color: white;
        }
      }

      .login {
        color: white;
        background-color: black;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}