.newsletter {
    padding: 0 10rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .newsletter-lg {
        font-size: 34px;
        font-weight: 600;
        text-align: center;
    }

    .newsletter-sm {
        font-size: 15px;
        color: #3e3d3d;
    }

    .newsletter-input-container {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 30px;

        .newsletter-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #ebebeb;
            padding: 6px 10px;
            width: 300px;
            background-color: #faf9f9;

            .newsletter-icon {
                width: 1.8rem;
                height: 1.8rem;
            }

            input {
                border: none;
                outline: none;
                padding: 10px 10px;
                background: transparent;
                width: 100%;
            }
        }

        button {
            background: #000;
            color: white;
        }
    }
}