.product-container {
  margin-top: 10rem;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include media(">=1024px", "<desktop") {
    padding: 1rem 4rem;
  }

  @include media(">=tablet",
    "<1024px") {
    padding: 0 14px;
  }

  @include media(">=414px",
    "<tablet") {
    padding: 0 14px;
  }

  @include media("<=414px") {
    padding: 0 14px;
  }

  .product-card {
    margin: 40px 0;
  }

  button {
    width: 180px;
    margin-top: 20px;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 15px;
    transition: 0.2s ease;


    &.black {
      border: 1px solid black;
      color: black;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background: black;
        z-index: -1;
        transition: 0.2s ease;
      }

      &:hover {
        color: white;
        background: black;
        transition: 0.2s ease;

        &:before {
          width: 100%;
        }
      }
    }

    @include media(">=1920px") {
      width: 320px;
      font-size: 30px;
    }
  }
}