.profile {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .info-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;

            .profile-name {
                display: flex;
                flex-direction: row;
                gap: 10px;

                img {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    object-fit: fill;
                }

                .name-container {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    span:nth-child(2) {
                        font-size: 13px;
                    }
                }
            }

            .info-order {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                box-shadow: 0px 1px 10px 0px rgba(229, 219, 219, 0.48);
                padding: 4px 8px;
                font-size: 15px;
                font-weight: 400;
                border: 1px solid #f0f0f0;
                border-radius: 4px;

                span {
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }

        .info-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-shadow: 0px 1px 10px 0px rgba(229, 219, 219, 0.48);
            padding: 10px;
            border: 1px solid #f0f0f0;

            .details {
                display: flex;
                flex-direction: column;
                gap: 6px;
                font-size: 15px;
                font-weight: 400;
                color: #070707;

                span {
                    font-size: 15px;
                    color: #363636;
                }
            }
        }

    }
}