.product-container {
  margin-top: 10rem;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include media("<=414px") {
    padding: 0 14px;
  }

  .product-card {
    margin: 40px 0;
  }

  button {
    width: 200px;
    border: 2px solid $banner-bg-color;
    color: $banner-bg-color;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      background-color: $banner-bg-color;
      color: $white;
      transition: all ease-in-out 0.5s;
    }
  }

}