$duration: 2s;
$easing: cubic-bezier(0.42, 0, 0.58, 1);

.product-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    z-index: 100;

    .product-modal-content {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 4rem;
        background-color: white;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 70%;
        height: 600px;
        margin-top: 90px;
        animation: product-modalFadeIn 0.8s ease-out forwards;

        @include media(">=1920px") {
            width: 80%;
            height: fit-content;
        }

        @include media(">=414px", "<tablet") {
            flex-direction: column;
            width: 80%;
            gap: 1rem;
            padding: 20px;
            height: fit-content;
            margin-top: 20px;
        }

        @include media(">=tablet", "<desktop") {
            width: 90%;
            padding: 20px;
            gap: 4rem
        }

        .product-image {
            display: flex;
            flex-direction: row;
            gap: 20px;

            @include media(">=414px", "<1024px") {
                margin-top: 25px;
            }

            .main-image {
                position: relative;
                transition: all ease-in-out .5s;

                img {
                    width: 400px;
                    height: 100%;
                    object-fit: cover;

                    @include media(">=1920px") {
                        width: 600px;
                        height: 900px;
                    }

                    @include media(">=tablet", "<1024px") {
                        width: 100%;
                        height: 300px;
                    }

                    @include media(">=1024px", "<desktop") {
                        width: 100%;
                        height: 500px;
                    }

                    @include media(">=414px", "<tablet") {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .small-image-container {
                display: grid;
                grid-template-rows: repeat(3, 120px);
                gap: 2px;
                cursor: pointer;

                @include media(">=414px", "<1024px") {
                    grid-template-rows: repeat(3, 60px);
                }

                @include media(">=tablet", "<desktop") {
                    grid-template-rows: repeat(3, 60px);
                }

                @include media(">=1920px") {
                    grid-template-rows: repeat(3, 200px);
                }

                .small-img {
                    width: 100px;
                    height: 100%;
                    // object-fit: cover;

                    @include media(">=414px",
                        "<1024px") {
                        width: 50px;
                        height: 100%;
                    }

                    @include media(">=tablet", "<desktop") {
                        width: 60px;
                        height: 100%;
                    }

                    @include media(">=1920px") {
                        width: 200px;
                        height: 100%;
                    }

                    .selected-img {
                        background-color: #f02d34;
                    }
                }
            }
        }

        .products-detail {
            display: flex;
            flex-direction: column;
            gap: 10px;

            @include media(">=tablet", "<desktop") {
                flex: 1;
            }

            .products-detail-name {
                font-size: 34px;

                @include media(">=414px",
                    "<1024px") {
                    font-size: 24px;
                }

                @include media(">=1920px") {
                    font-size: 54px;
                }
            }

            .products-detail-price {
                font-size: 20px;

                @include media(">=1920px") {
                    font-size: 44px;
                }
            }

            .products-detail-color {
                @include media(">=1920px") {
                    font-size: 34px;
                }
            }

            .products-detail-desc {
                font-size: 14px;
                color: #6f6f6f;

                @include media(">=414px",
                    "<1024px") {
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                    overflow: hidden;
                    max-height: 3.6em;
                    line-height: 1.8em;
                }

                @include media(">=1920px") {
                    font-size: 30px;
                }
            }

            .stock {
                @include media(">=1920px") {
                    font-size: 30px;
                }

                span:nth-child(2) {
                    font-weight: 600;
                    margin-left: 6px;
                    font-size: 14px;

                    @include media(">=1920px") {
                        font-size: 30px;
                    }
                }
            }

            .product-size {
                display: flex;
                flex-direction: column;
                gap: 4px;

                .size-label {
                    font-size: 16px;

                    @include media(">=1920px") {
                        font-size: 34px;
                    }
                }

                .sizes-container {
                    display: grid;
                    grid-template-columns: repeat(4, 60px);
                    gap: 8px;

                    @include media(">=414px",
                        "<1024px") {
                        grid-template-columns: repeat(4, 40px);
                        width: 80px;
                    }

                    @include media(">=1920px") {
                        grid-template-columns: repeat(6, 100px);
                    }

                    div {
                        border: 1px solid #6f6f6f;
                        padding: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        @include media(">=1920px") {
                            font-size: 30px;
                        }
                    }

                    .selected {
                        background-color: #101010;
                        color: #ffffff;
                        transition: all ease-in .5s;
                    }
                }
            }

            .order {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                gap: 18px;

                @include media(">=414px",
                    "<1024px") {
                    width: 100%;
                }

                .qty {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;

                    .qty-btn {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 14px;
                        border: 1px solid #eeee;
                        padding: 10px;
                        border-radius: 8px;

                        @include media(">=1920px") {
                            margin-top: 30px;
                            border: none;
                        }

                        .minus,
                        .plus {
                            width: 29px;
                            height: 29px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0px 1px 14px 0px rgba(209, 203, 203, 0.48);
                            cursor: pointer;
                            font-weight: 500;

                            @include media(">=1920px") {
                                width: 80px;
                                height: 80px;
                                font-size: 34px;
                            }
                        }

                        .minus {
                            background: #e0dfdf;
                        }

                        .num {
                            @include media(">=1920px") {
                                font-size: 30px;
                            }
                        }
                    }
                }

                .total-price {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 20px;

                    @include media(">=1920px") {
                        font-size: 30px;
                    }

                    span {
                        font-weight: 500;
                        font-size: 17px;

                        @include media(">=1920px") {
                            font-size: 30px;
                        }
                    }
                }

                .order-btns {
                    display: flex;
                    flex-direction: row;
                    gap: 14px;
                    margin-top: auto;

                    @include media(">=414px",
                        "<1024px") {
                        flex-direction: column;
                    }

                    .order-color,
                    .order-plane {
                        border-radius: 8px;
                        font-size: 15px;

                        @include media(">=1920px") {
                            width: 100%;
                            font-size: 24px;
                        }

                        @include media(">=414px", "<1024px") {
                            width: 100%;
                        }
                    }

                    a {
                        @include media(">=1920px") {
                            width: 100%;
                        }
                    }

                    .order-color {
                        background: $banner-bg-color;
                        color: #ffffff;

                        @include media(">=1920px") {
                            width: 100%;
                            padding: 30px 20px;
                        }
                    }

                    .order-plane {
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        color: $banner-bg-color;
                        border: 1px solid $banner-bg-color;

                        @include media(">=1920px") {
                            width: 100%;
                        }

                        @include media(">=414px",
                            "<1024px") {
                            width: 100%;
                        }

                        &:hover {
                            background: #f7f6f6;
                            color: #121212;
                        }

                        .order-cart {
                            width: 20px;
                            height: 20px;

                            @include media(">=1920px") {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
        }

        .product-modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;

            .product-modal-icon {
                width: 1.5rem;
                height: 1.5rem;
                color: #919090f8;

                @include media(">=1920px") {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
    }

    @keyframes product-modalFadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}