.shoplist-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;

    .shoplist-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .shoplist-img {
            position: relative;

        }

        img {
            width: 100px;
            height: 100%;
        }

        .shoplist-name {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .shoplist-price {
            color: $banner-bg-color;
            font-size: 13px;
        }

        .new,
        .discount {
            position: absolute;
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            padding: 4px 10px;
            font-weight: 500;
        }

        .new {
            background: #000;
        }

        .discount {
            background: #d70e69;
        }
    }

    @include media("<=414px") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        .shoplist-wrapper {
            img {
                width: 100%;
            }
        }
    }

    @include media(">=820px", "<=960px") {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .shoplist-wrapper {
            img {
                width: 100%;
            }
        }
    }

    @include media(">=desktop") {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .shoplist-wrapper {
            img {
                width: 250px;
            }
        }
    }
}