.shop {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 10rem;
    margin-top: 4rem;

    @include media(">=414px",
        "<tablet") {
        padding: 0 14px;
        flex-direction: column;
        margin-top: 2rem;
    }

    @include media("<=414px") {
        padding: 0 14px;
        flex-direction: column;
        margin-top: 2rem;
    }

    @include media(">=tablet",
        "<1024px") {
        padding: 0 14px;
    }

    @include media(">=1024px", "<desktop") {
        padding: 1rem 4rem;
    }

    .search-input {
        border: 1px solid #d2d1d1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
        padding-right: 14px;
        align-self: end;
        width: 400px;

        @include media(">=414px",
            "<tablet") {
            width: fit-content;
        }

        @include media("<=414px") {
            width: fit-content;
        }

        input {
            padding: 12px 14px;
            border: none;
            outline: none;
            width: 100%;
            font-size: 15px;
        }

        .search-icon {
            width: 22px;
            height: 22px;
            cursor: pointer;
            color: #d2d1d1;
        }
    }

    .shop-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include media(">=414px",
            "<tablet") {
            padding: 0 14px;
            flex-direction: column;
        }

        @include media("<=414px") {
            padding: 0 14px;
            flex-direction: column;
        }

        .side-sort {
            width: 300px;
        }

        .sort-range {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include media(">=414px",
                "<tablet") {
                flex-direction: column;
                gap: 20px;
            }

            @include media("<=414px") {
                flex-direction: column;
                gap: 20px;
            }

            .range-number {
                font-size: 15px;
                color: #4a4949;
            }

            .range-price {
                font-size: 15px;
                color: #4a4949;
                display: flex;
                flex-direction: row;
                gap: 10px;
                cursor: pointer;
                position: relative;

                .sort-span {
                    font-weight: 400;
                    color: black;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;

                    .dropdown-icon {
                        width: 18px;
                        height: 18px;
                    }
                }

                .price-list {
                    cursor: pointer;
                    position: absolute;
                    top: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    background: white;
                    width: 90px;
                    padding: 8px;
                    box-shadow: 0px 1px 14px 0px rgba(209, 203, 203, 0.48);

                    div {
                        &:hover {
                            background-color: #f8f9f9;
                        }
                    }
                }
            }
        }

        .shop-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

    }

    button {
        color: black;
        border: 2px solid black;
        align-self: center;
        font-weight: 600;

        &:hover {
            background-color: $banner-bg-color;
            color: $white;
            transition: all ease-in-out 0.5s;
        }
    }
}