.sidebar-container {
    @include media(">=1024px") {
        display: none;
    }

    .sidebar-icon {
        @include media(">=1024px") {
            display: none;
        }
    }

    .sidebar-top {

        img {
            width: 20px;
            height: 20px;
        }

        @include media("<=tablet") {
            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;
            font-weight: 500;
        }

        @include media(">=1024px") {
            display: none;
        }
    }


    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 50;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        font-size: $font-md;
        border: 1px solid #f0f0f0;
        box-shadow: 0px 1px 10px 0px rgba(229, 219, 219, 0.48);

        @include media ("<=425px") {
            display: flex;
        }

        @include media (">414px", "<=tablet") {
            width: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 1rem;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .close {
            position: absolute;
            top: 15px;
            left: 15px;
            width: 1.5rem;
            height: 1.5rem;

            @include media("<=tablet") {
                display: block;
            }
        }

        .logo {
            width: 120px;
            height: 120px;
        }

        .items-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 90px;

            .items {
                padding: 8px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 10px;
                font-size: 15px;
                align-items: center;
                border-left: 3px solid transparent;
                padding-left: 20px;

                &:hover {
                    border-left: 3px solid black;
                    transition: all .5s ease-in-out;
                }

                &.active {
                    border-left: 3px solid black;
                    transition: all .5s ease-in-out;
                    background-color: #fafafa;
                }
            }

            .items-logout {
                padding: 8px;
                padding-bottom: 20px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                padding-left: 20px;
                margin-top: 25px;
            }

            .items-icon {
                width: 1rem;
                height: 1rem;
            }
        }


    }

    .close {
        width: 40px;
        height: 40px;
    }

}