.sort-accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;

        h3 {
            margin: 0;
            font-size: 17px;
            font-weight: 500;
        }

        .accordion-icon {
            width: 20px;
            height: 20px;
            transition: all 0.2s ease-in-out;

            &.open {
                background-color: #333;
            }
        }
    }

    .accordion-content {
        padding: 10px 0;
        display: none;

        &.open {
            display: block;
            border-bottom: 1px dashed #d7d7d7;
        }
    }
}