.sort {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 17px;
    font-weight: 500;
    width: 60%;

    @include media(">=200px", "<tablet") {
        width: 100%;
    }

    .category {
        color: black;

        .categories {
            color: #aaaaaa;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 400;
            cursor: pointer;
            align-self: start;

            @include media(">=1920px") {
                font-size: 33px;
            }

            div {
                align-self: start;

                &:hover {
                    color: black;
                    transition: all ease-in .5s;
                }
            }

        }

        .sizes-container {
            display: grid;
            grid-template-columns: repeat(3, 60px);
            gap: 8px;

            @include media("<=414px") {
                grid-template-columns: repeat(4, 40px);
                width: 80px;
            }

            @include media(">=414px",
                "<1024px") {
                grid-template-columns: repeat(4, 40px);
                width: 80px;
            }

            @include media(">=1920px") {
                grid-template-columns: repeat(5, 100px);
            }

            div {
                border: 1px solid #6f6f6f;
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 16px;

                @include media(">=1920px") {
                    font-size: 35px;
                }
            }

            .selected {
                background-color: #101010;
                color: #ffffff;
                transition: all ease-in .5s;
            }
        }

        .color-container {
            display: grid;
            grid-template-columns: repeat(4, 40px);
            gap: 8px;

            @include media(">=1920px") {
                grid-template-columns: repeat(4, 100px);
            }

            .color-wrapper {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #e1e1e1;
                padding: 2px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(">=1920px") {
                    width: 80px;
                    height: 80px;
                }

                .red,
                .black,
                .brown,
                .carton,
                .blue,
                .white,
                .green,
                .pink,
                .orange {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                    @include media(">=1920px") {
                        width: 80px;
                        height: 80px;
                    }
                }

                .red {
                    background-color: #e52034;
                }

                .brown {
                    background-color: #a55505;
                }

                .blue {
                    background-color: #060844;
                }

                .white {
                    background-color: #f7f7f7;
                }

                .green {
                    background-color: #035935;
                }

                .black {
                    background-color: #000000;
                }

                .pink {
                    background-color: #e66fd6;
                }

                .carton {
                    background-color: #e6b06f;
                }

                .orange {
                    background-color: #e86113;
                }
            }
        }


        .tags {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            width: 100%;

            @include media(">=414px",
                "<1024px") {
                grid-template-columns: repeat(2, 1fr);
            }

            div {
                padding: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                font-size: 15px;
                background-color: #f1f5f8;
                color: #000000;
                text-transform: uppercase;
                font-weight: 300;

                &:hover {
                    background-color: #000000;
                    color: #ffffff;
                    transition: all .5s ease-in-out;
                }

                @include media(">=1920px") {
                    font-size: 35px;
                }
            }
        }
    }
}